# Google
GOOGLE_SHEET_ID=           # ID da planilha Google Sheets
GOOGLE_SHARED_DRIVE_ID=    # ID do Shared Drive do Google Drive

# Pipedrive
PIPEDRIVE_API_TOKEN=        # Token da API do Pipedrive
PIPEDRIVE_PIPELINE_ID=      # ID do pipeline no Pipedrive
PIPEDRIVE_STAGE_ID=         # ID da etapa no pipeline
